---
layout: main.njk
head: post-paged.njk
---

<article class="post h-entry hentry">
    <h1 class="post__title p-name entry-title">{{ title }}</h1>
    <time class="post__date dt-published published" datetime="{{ date | date('iso') }}">{{ date | date('longdate') }}</time>
    <div class="post__author p-author author h-card vcard">
        <span class="p-name">{{ author }}</span>
    </div>
    <div class="post__categories">
        Categories: {% for cat in categories %}<a class="p-category" rel="category tag" href="/category/{{ cat | slugify }}/">{{ cat }}</a>{% if not loop.last %} • {% endif %}{% endfor %}
    </div>
    <div class="post__content e-content entry-content">{{ content | safe }}</div>
</article>

{% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{% set nextPost = collections.posts | getNextCollectionItem(page) %}
<div class="pagination">
    {% if previousPost %}
        <a class="pagination__link pagination__link--previous" href="{{ previousPost.url }}">&larr; Newer</a>
    {%  else %}
        <span></span>
    {%  endif %}
    <a class="pagination__link pagination__link--archive" href="/archives/">Blog Archives</a>
    {% if nextPost %}
        <a class="pagination__link pagination__link--next" href="{{ nextPost.url }}">Older &rarr;</a>
    {%  else %}
        <span></span>
    {%  endif %}
</div>


{% if site.disqus_short_name %}
    <section class="post__comments">
        <h1>Comments</h1>
        {% include 'disqus_thread.njk' %}
    </section>
{% endif %}