:root {
    --font-size: 22px;
    --text-color: #333;
    --text-gray: #6e6e6e;
    --link-color: #1769b0;
    --link-color-hover: #751590;
    --light-background: #f8f8f8;
    --gray-background: #c9c9c9;
    --dark-background: #333;
    --content-background: #ffffff;
    --gap: 1.5rem;
    --border: #ccc;
    --border-light: #ddd;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: var(--font-size);
    background-color: var(--content-background);
    color: var(--text-color);
    line-height: 1.5;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0 0 1rem 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1rem;
}

a,a:visited {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.5s;
}

a:hover {
    color: var(--link-color-hover);
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 0 0 1rem 0;
}

blockquote {
    margin: 0 0 1rem 0;
    padding: 0 1rem;
    border-left: solid 0.25rem var(--border);
    font-style: italic;
    font-size: 1.2rem;
}
hr {
    margin: 1rem 0;
}
table {
    margin: 0 0 1rem 0;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 0.2rem .5rem;
    border-bottom: solid 1px var(--border-light);
}

th {
    text-align: left;
    border-width: 2px;
}