.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: var(--gap);
}

.site-header {
    background-color: var(--dark-background);
    color: white;
    text-align: center;
    padding: 1rem 2rem;
    view-transition-name: header;
}

.site-header__title {
    font-size: 3rem;
}

.site-header__title a {
    color: white;
    text-decoration: none;
}

.site-header__subtitle {
    font-size: 1.2rem;
    font-style: italic;
    color: #aaa;
}

.site-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    gap: var(--gap);
}

@media (min-width: 768px) {
    .site-wrapper {
        flex-direction: row;
    }
}

.site-content {
    flex: 1 auto;
    view-transition-name: main;
}


.site-sidebar {
    flex: 0 auto;
    view-transition-name: sidebar;
}

@media (min-width: 768px) {
    .site-sidebar {
        min-width: 14rem;
        width: 14rem;
    }
}


.site-footer {
    background-color: var(--dark-background);
    color: white;
    text-align: center;
    padding: 1rem 2rem;
    view-transition-name: footer;
}
