---
import CloseIcon from '../assets/icons/close.svg';
---
<dialog id="cardpopup" class="modal" transition:persist>
    <button class="modal-close" id="cardpopup-close" type="button" title="close">
        <CloseIcon aria-label="close" class="icon" />
    </button>
  <div class="modal-content">
    <img id="cardpopup-img" width="275" height="370" />
  </div>
</dialog>
