<header class="site-header" transition:persist>
  <div class="site-header__title">
    <a href="/">Spekkionu's MTG&nbsp;Blog</a>
  </div>
  <div class="site-header__subtitle">Magic the Gathering Articles</div>
</header>
