---
import {getActivePostsCollection} from "../utils/utils";

const latestPosts = (await getActivePostsCollection()).slice(0, 5);
---
<section class="sidebar__section sidebar__section--recent">
    <header class="sidebar__section__title">Recent Posts</header>
    <nav class="sidebar__section__body">
        <ul>
            {latestPosts.map(post => <li><a href={post.data.url}>{post.data.title}</a></li>)}
        </ul>
    </nav>
</section>
