---
layout: main.njk
permalink: "/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
eleventyImport:
collections: ["posts"]
eleventyExcludeFromCollections: false
meta_description: "A blog about Magic the Gathering."
head: paged.njk
pagination:
  data: collections.posts
  size: 10
  generatePageOnEmptyData: false
---

<ul class="posts">
  {% for post in pagination.items %}
    <li class="posts__post">
      <div class="posts__post__meta">
        <time datetime="{{ post.data.date | date('iso') }}">{{ post.data.date | date('longdate') }}</time>
      </div>
      <div class="posts__post__title">
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </div>
      <div class="posts__post__categories">
        posted in {% for cat in post.data.categories %}<a href="/category/{{ cat | slugify }}/">{{ cat }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
      </div>
      <div class="posts__post__teaser">{{ post | teaser | safe }}</div>
      <a class="posts__post__link" rel="full-article" href="{{ post.url }}">Read on →</a>
    </li>
  {% endfor %}
</ul>

  <div class="pagination">
    {% if pagination.href.first !== page.url %}
      <a class="pagination__link pagination__link--previous" href="{{ pagination.href.previous }}">&larr; Newer</a>
    {%  else %}
      <span></span>
    {%  endif %}
    <a class="pagination__link pagination__link--archive" href="/archives/">Blog Archives</a>
    {% if pagination.href.last !== page.url %}
      <a class="pagination__link pagination__link--next" href="{{ pagination.href.next }}">Older &rarr;</a>
    {%  else %}
      <span></span>
    {%  endif %}
  </div>