---
permalink: /_redirects
layout: null
eleventyExcludeFromCollections: true
---

/atom.xml /feed.xml 301
/sitemap-index.xml /sitemap.xml 301
/category/general-slash-other/ /category/general-other/ 301
/posts/2/ /page/2/ 301
/posts/3/ /page/3/ 301
/posts/4/ /page/4/ 301
/article/44/shirei-shizos-caretaker/ /2005/03/shirei-shizos-caretaker/ 301
/article/47/why-type-3/ /2005/03/why-type-3/ 301
/article/85/cards-you-should-own/ /2005/03/cards-you-should-own/ 301
/article/168/upgrading-an-old-deck-part-3/ /2005/04/upgrading-an-old-deck-part-3/ 301
/article/183/building-a-control-deck/ /2005/04/building-a-control-deck/ 301
/article/185/call-of-the-wild /2005/05/call-of-the-wild/ 301
/article/187/multiplayer-strategies/ /2005/05/multiplayer-strategies/ 301
/article/195/deep-anal /2005/05/deep-anal/ 301
/article/197/stompy/ /2005/06/stompy/ 301
/article/201/really-big-red /2005/06/really-big-red/ 301
/2005/06/history-of-mono-black-control//1000 /2005/06/history-of-mono-black-control/ 301
/article/207/my-magic-history/ /2005/07/my-magic-history/ 301
/article/209/the-standard-metagame-tier-1-decks /2005/07/the-standard-metagame-tier-1-decks/ 301
/article/217/delaying-shield/ /2005/08/delaying-shield/ 301
/article/219/magic-sites/ /2005/08/magic-sites/ 301
/article/221/nationals-2005-results /2005/08/nationals-2005-results/ 301
/article/223/robo-beats/ /2005/08/robo-beats/ 301
/article/225/ravnica-set-review/ /2005/09/ravnica-set-review/ 301
/article/229/other-peoples-decks-samurai/ /2005/10/other-peoples-decks-samurai/ 301
/article/231/ravnica-sleepers /2005/11/ravnica-sleepers/ 301
/article/233/peasant-magic/ /2006/06/peasant-magic/ 301
/article/235/magic-workstation-guide /2006/06/magic-workstation-guide/ 301
