---
layout: main.njk
eleventyExcludeFromCollections: true
---

<h1>Heading 1</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet, at atque dignissimos eligendi esse exercitationem,
    incidunt ipsum iste iusto officia porro quae quam qui suscipit tempora, temporibus veniam veritatis.</p>

<h2>Heading 2</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque autem deserunt et minima necessitatibus nihil
    obcaecati quam quo, sed? Blanditiis, distinctio eum itaque minima modi non officiis omnis quos.</p>

<h3>Heading 3</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque autem deserunt et minima necessitatibus nihil
    obcaecati quam quo, sed? Blanditiis, distinctio eum itaque minima modi non officiis omnis quos.</p>
<h4>Heading 4</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque autem deserunt et minima necessitatibus nihil
    obcaecati quam quo, sed? Blanditiis, distinctio eum itaque minima modi non officiis omnis quos.</p>
<h5>Heading 5</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque autem deserunt et minima necessitatibus nihil
    obcaecati quam quo, sed? Blanditiis, distinctio eum itaque minima modi non officiis omnis quos.</p>

<h6>Heading 6</h6>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque autem deserunt et minima necessitatibus nihil
    obcaecati quam quo, sed? Blanditiis, distinctio eum itaque minima modi non officiis omnis quos.</p>

<p><a href="#">This is a link</a></p>

<ul>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
</ul>

<ol>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
</ol>

<table>
    <thead>
    <tr>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
    </tr>
    </tbody>
</table>

<table class="border">
    <thead>
    <tr>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
    </tr>
    </tbody>
</table>

<h2>Card Embeds</h2>
<p>{% card "Fog" %}Fog{% endcard %}</p>
<p>{% cardimage "Terror" %}</p>

{% cardlist "Fetch Lands", false %}
    Polluted Delta
    Flooded Strand
    Bloodstained Mire
    Wooded Foothills
    Windswept Heath
{% endcardlist %}

{% deck "Relentless Rats" %}
    {% cardlist "Lands" %}
        *24 Swamp
    {% endcardlist %}
    {% cardlist "Creatures" %}
        *20 Relentless Rats
    {% endcardlist %}
    {% cardlist "Spells" %}
        *4 Dark Ritual
        *4 Cruel Edict
        *4 Hymn to Tourach
        *4 Sign in Blood
    {% endcardlist %}
{% enddeck %}